#Sprint 5, T01

##Nivell 1

###Execise 1 - standadize, identify and list all variables in "Web_access_log-akumenius.com"

In [1]:
import pandas as pd
import numpy as np
import re

In [110]:
data = pd.read_csv('Web_access_log-akumenius.com.txt', names=['records'])#txt file open with read_csv
pd.set_option('display.max_colwidth',None)#to get all information for each element
data[50:52]#show a sample of records

                                                                                                                                                                                                                                                                   records
50  www.akumenius.com 66.249.76.216 - - [23/Feb/2014:03:11:15 +0100] "GET /hoteles-baratos/ofertas-hotel-Hilton-London-Hyde-Park-en-Bayswater-7566b-destinos.html HTTP/1.1" 404 3100 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" VLOG=-
51     www.akumenius.com 66.249.76.216 - - [23/Feb/2014:03:11:16 +0100] "GET /destinos-baratos/destinosEstrelles/hoteles-en-Schmiedeberg_ALEMANIA-con-5-estrellas HTTP/1.1" 200 8817 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" VLOG=-

####1. Divide informatin in columns

In [111]:
#info about of record - localhost or web?
data[['web','info']] = data['records'].str.split(" ", 1, expand=True)
data[10:12]

,records,web,info
10,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-"
11,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-"

In [112]:
#ip?
data[['ip','info']] = data['info'].str.split(" ", 1, expand=True)
data['info'] = data['info'].str.strip("- -")
data[10:12]

,records,web,info,ip
10,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"[23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=",127.0.0.1
11,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"[23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=",127.0.0.1

In [113]:
#time?
data[['time','info']] = data['info'].str.split("\W\W\W", 1, expand=True)
data['time'] = data['time'].str.strip("[")
data[20:22]

,records,web,info,ip,time
20,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=",127.0.0.1,23/Feb/2014:03:10:31 +0100
21,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,"OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=",127.0.0.1,23/Feb/2014:03:10:31 +0100

In [104]:
data_test = data.copy()